<h1>Child application B
</h1>
<span>
  <button mat-button [routerLink]="['/a']"><i class="fa fa-home-heart">  Component B1</i></button>
</span>
<span>
  <button mat-button routerLink="/b"><i class="fa fa-info"> Component B2</i></button>

</span>
<span>
  <button mat-button routerLink="/c"><i class="fa fa-info"> Component B3</i></button>

</span>
<span>
  <button mat-button routerLink="/d"><i class="fa fa-info"> Component B4</i></button>

</span>
<span>
  <button mat-button routerLink="/e"><i class="fa fa-info"> Component B5</i></button>

</span>

<router-outlet></router-outlet>
