<app-top-nav></app-top-nav>
<app-sidebar></app-sidebar>
<app-header></app-header>
<div>
  <h3>Message received from children</h3>
  <div>
    <span>Passed message: {{commService.passedMessage}}</span>
  </div>
  <div>
    <span>Passed to: {{commService.passedTo}}</span>
  </div>
</div>

<h3>Post message</h3>
<input type="text" placeholder="Message" [(ngModel)]="messageToSend" />
<br />
<input type="text" placeholder="Send to" [(ngModel)]="passedToChild" />
<br />
<button type="button" (click)="sendMessage()">Submit</button>
<br />
<br />

<app-chat></app-chat>
