<h1>Child application A</h1>
<span>
  <button mat-button [routerLink]="['/a']"><i class="fa fa-home-heart">  Compoent A1</i></button>
</span>
<span>
  <button mat-button routerLink="/b"><i class="fa fa-info"> Component A2</i></button>

</span>
<span>
  <button mat-button routerLink="/c"><i class="fa fa-info"> Component A3</i></button>

</span>
<span>
  <button mat-button routerLink="/d"><i class="fa fa-info"> Component A4</i></button>

</span>
<span>
  <button mat-button routerLink="/e"><i class="fa fa-info"> Component A5</i></button>

</span>

<router-outlet></router-outlet>
