<app-top-nav></app-top-nav>
<app-sidebar></app-sidebar>
<app-header></app-header>
<div>
  <h4>Message received from children</h4>
  <div>
    <span>Passed message: {{commService.passedMessage}}</span>
  </div>
  <div>
    <span>Passed to: {{commService.passedTo}}</span>
  </div>
</div>

<br />
<br />

<div>
  <h4>Post message</h4>
  <input type="text" placeholder="Message" [(ngModel)]="messageToSend" />
  <br />
  <input type="text" placeholder="Send to" [(ngModel)]="passedToChild" />
  <br />
</div>
<br />
<br />
<div>
  <button type="button" (click)="sendMessage()">Send Message to Iframe</button>
  <br />
</div>

<br />
<br />
<div>
  <button type="button" (click)="broadcast()">Broadcast message(In same browser)</button>
  <br />
  <span>Broadcasted message: {{commService.broadcastedMessage}}</span>
  <br />
</div>
<br />
<br />
<div>
  <button type="button" (click)="sharedWorkerPost()">SharedWorker Send(In same browser)</button>
  <br />
  <span>shared worker message: {{sharedWorkerMessage}}</span>
</div>

<app-chat></app-chat>
