<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggle()"><mat-icon>menu</mat-icon></button>
      <span>Shell Application</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav [opened]="isExpended" class="example-sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
               [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
      <button mat-button (click)="toggle('a')">App A</button>
    </mat-nav-list>
    <mat-nav-list>
      <button mat-button (click)="toggle('b')">App B</button>
    </mat-nav-list>
    <mat-nav-list>
      <button mat-button (click)="toggle('a', 'a')">App A Comp A</button>
    </mat-nav-list>





    <mat-nav-list>
      <ul>
        <ng-template #recursiveList let-list>
          <li *ngFor="let item of list" (click)="listClick($event, item)">
            {{item.displayName}}
            <ul *ngIf="item.children?.length > 0 && item.showSubfolders" >
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
      </ul>
    </mat-nav-list>
  </mat-sidenav>
</div>
